*{
    font-family: 'Inter', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* header */
.header {
    /* position: sticky; */
    top: 0;
    z-index: 1000;
    background: #ECE4DF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.container {
    width: 100%;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}

ul.nav-links > li > a {
    color: #938B8B;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s;
}

ul.nav-links > li > a:hover {
    color: #143673;
}

.dropdown-category .btn {
    background: transparent !important;
    border: none !important;
    color: #938B8B !important;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    box-shadow: none !important;
}

.dropdown-category .btn:hover,
.dropdown-category .btn:focus {
    color: #143673 !important;
    background: transparent !important;
}

.dropdown-category {
    position: relative;
}

.dropdown-category .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    min-width: 200px;
    border-radius: 8px;
    padding: 10px 0;
    z-index: 1000;
}

.dropdown-category:hover .dropdown-menu {
    display: block;
}

.dropdown-category .dropdown-menu li {
    margin: 0;
}

.dropdown-category .dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    color: #596078;
    font-weight: 500;
    text-transform: none;
}

.dropdown-category .dropdown-menu li a:hover {
    background: #f9f6f0;
    color: #F45308;
}


.logo {
    width: 100px;
    height: auto;
    margin-right: 30px;
}

.btn-group {
    gap: 20px;
}

.btn {
    color: #938B8B;
    display: flex;
    padding: 15px 10px;
}

.search-box {
    position: relative;
    width: 500px;
}

.search-box input {
    width: 78%;
    padding: 10px 100px 10px 14px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
}

.search-box input:focus {
    border-color: #938B8B;
}

.search-btn {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.search-btn img {
    width: 18px;
    height: 18px;
}

.cart-menu {
    position: relative;
    padding: 10px;
}

/* số lượng sản phẩm
.cart-count {
    position: absolute;
    top: -6px;
    right: -6px;
    background: #143673;
    color: #fff;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.user-menu {
    position: relative;
    padding: 10px;
}

.user-icon {
    font-size: 24px;
    color: #938B8B;
    cursor: pointer;
}

.cart-icon {
    font-size: 24px;
    color: #938B8B;
    cursor: pointer;
}

.user-dropdown {
    display: none;
    position: absolute;
    top: 42px;
    /* right: 0; */
    background: #F0F0F0;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 110px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    z-index:999;
}

.user-menu:hover .user-dropdown {
    display: block;
}

.user-dropdown a {
    display: block;
    padding: 10px 14px;
    color: #938B8B;
}

.user-dropdown a:hover {
    background-color: #f5f5f5;
}

/* footer */
.footer {
    background-color: #143673;
    padding: 20px;
}

.grid {
    display: block;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    color: #FFFF;
}

.grid-row {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 50px;
    box-sizing: border-box;
}

.grid_column {
    flex: 1;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 700px) {
    .grid-row {
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .grid_column {
        width: 60%;
        max-width: 60%;
        flex: none;
    }
}

.grid-column-2-3 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 10px;
}

.footer_heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}

.footer_list a {
    color: #FFFF;
}

.logo-footer {
    width: 80px;
    height: auto;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}